<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Insert Page -Users</title>
  </head>
  <body>
    <h5><a href='/'>HOME</a></h5>
    <h1>Insert Page -Users</h1>
    <hr>

    <form method="post">
      <fieldset>
        <legend>INSERT DATA</legend>
        <table>
          <tr>
            <td><label>Name</label></td>
            <td><input type="text" name="name"></td>
          </tr>
        </table>
        <input type="submit">
      </fieldset>
    </form>
  </body>
</html>
