<!-- <%%>와 <%=%>를 통해서 ejs 사용 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>my name is <%= username %></p>
    <p>my password is <%= password %></p>
    <% for(var i = 0; i < 10; i++){ %>
      <p><%= i %></p>
    <% } %>
  </body>
</html>
